/* SMOOTH SCROLL DOWN FOR SECTIONS */
:root {
  --lighter: #35353A;
  --darker: #202124;
  --grreenish: #2DC838;
}

html, body {
  /* width: 100%;
  height: 100%; */
  /* margin: 0px;
  padding: 0px; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo-top {
  font-size: 2.1rem !important;
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif !important;
}

/* IMAGE */
.centered img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.centered {
  text-align: center;
}

.padded {
  text-align: left;
  /* border: 10px solid #BDC9D1;
  border-left: 0; */
}

/* NAVBAR */

.navbar-custom {
  background-color: #050505;
  position: fixed !important;
  width: 100%;
  /*background_color of navbar*/
  /* font-family: 'Roboto', sans-serif; */
  z-index: 99999;
}


/* #navbar a:hover {
  color: #94a5f2 !important;
  transition: color 300ms ease 0ms;
} */

.container-fluid {
  padding: 0;
}

.nav-item {
  padding: 0 7px;
}

.nav-link {
  font-size: 1.5rem;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: lighter;
}

/* MENU HOVER */

.hover-underline-animation {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--grreenish);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* TYPEWRITER LETTERS */

.typewrite {
  /* color:var(--grreenish); */
  /*include this only if you need a hyperlink*/
  text-decoration: none;
  width: 100%;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
}

/* BOXES */

.box {
  /* width: 100%;
  padding: 20px 20px; */
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: lighter;
  /* text-align: center; */
}

.semi-large-size{
  font-size: 2.5rem;
}

.medium-size{
  font-size: 2.0rem;
}

.small-size{
  font-size: 1.5rem;
}

#main {
  /* position: relative; */
  width: 100vw;
  top: 105;
  left: 0;
  height: 75vh;
  overflow: hidden !important;
}

/* FADE INS */
.fade-in {
  /* margin: 50px;
  padding: 50px;
  background-color: lightgreen; */
  /* opacity: 1; */
}

/* SECTION 1 */
.section-1 {
  background-color: var(--darker);
  opacity: 1;
  padding: 15% 3% 0 0;
}

.box p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.3;
}

h1 {
  font-size: 60px;
  color: #e6e7e8;
}

/* SKILL LIST */
.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: left;
  /* padding: 0; */
}

.row {
  margin: 0;
}

/* SECTION 2*/
.section-2 {
  background-image: linear-gradient(rgba(6, 4, 18, 0.7), rgba(6, 4, 18, 0.7)), url(images/child_harm.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%;
  /* height: 100px; */
}

.stats-pic {
  background: rgba(204, 204, 204, 0.2);
  display: inline;
  border-radius: 0.2rem;
  font-size: 50px;
  font-weight: lighter;
  color: black !important;
}

/* SECTION 3 */
.section-3 {
  background: var(--lighter);
  padding: 4% 10% 4% 10%;
}


.job-place {
  font-weight: bold;
}

.job-img {
  height: 10rem;
  width: 10rem;
  margin: .3rem;
}

/* SECTION 3-1 */
.section-3-1 {
  background: var(--darker);
  padding: 4% 10% 4% 10%;
}

/* SECTION 4 */
.section-4 {
  background: var(--lighter);
  padding: 4% 10% 4% 10%;
  text-align: center;
}

.carousel-item {
  padding: 0 15% 0 15%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%32a852' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%32a852' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-textbox{
  width: 30%;
  height: 10rem;
  text-align: center;
}

.project-topic {
  /* display: inline; */
  /* padding: 7px;
  border: 1px solid; */
  padding: 20px;
  border-radius: 0.3rem;
}

.project-img {
  width: 15rem;
  height: 15rem;
  padding: 0;
  border-radius: 100%;
  border: 5px solid var(--darker);
  /* border-top-left-radius: 164px;
  border-bottom-left-radius: 164px;
  border-right: 0; */
}

.btn {
  display: inline;
  padding: 7px;
}

/* githup image for crousel */
.skill-img-2 {
  height: 1.5rem;
  width: 1.5rem;
  margin: .3rem;
}

.carousel-indicators {
  position: absolute;
}

.carousel-indicators li {
  background-color: #8D8E88;
}

/* SECTION 5 */
.section-5 {
  background: var(--darker);
  /* height: 150vh; */
  padding: 20% 3% 20% 3%;
}

/* SECTION 6 */
.section-6 {
  background-color: var(--lighter);
  color: white;
  height: 30px;
  padding: 10px 0 0 5px;
}

/* SIDEBAR CONTACT */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 53%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform: translateY(-50%);

}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}


.email {
  background: #ABABA6;
  color: white;
}

.phone {
  background: #9A9A96;
  color: white;
}

.linkedin {
  background: #7F7F7B;
  color: white;
}

.github {
  background: #71716E;
  color: white;
}

.location {
  background: #5E5E5B;
  color: white;
}

/* POPUP */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.popup:hover {
  background-color: #000;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 75%;
  margin-left: 0;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* COPYRIGHT */
.copyright {
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 1px;
}
